/* inter font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* miama font  */
  @import url('https://fonts.cdnfonts.com/css/miama');

  .maima {
     font-family: 'Miama', sans-serif;
                                                
  }


*{
     font-family: "Inter", sans-serif;
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}
/* shared style  */
.flex {
    display: flex;
}
.fix-width {
     max-width: 1140px;
    margin: 0px auto;


}
a {
      text-decoration: none;

}
li {
    list-style: none;
}
.header {
  
  background: linear-gradient(180deg, #111 100%, rgba(119, 119, 119, 0.00) 100%);

}

/* navbar style  */
.navbar {
     
  
    justify-content: space-between;
    align-items: center;
   padding: 20px;
    
   
}
.navbar h1 {
    color: #E6533C;
font-family: Inter;
font-size: 36px;
font-style: italic;
font-weight: 800;
line-height: 120%; /* 43.2px */
}
.nav{
   justify-content: space-between;
   align-items: center;
}
.nav li {
    list-style: none;
}
.anchor {
  
    margin-left: 40px;
    color: #FFF;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 21.6px */   
}
#home {
    display: flex;
padding: 8px 20px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 46px;
background: #E6533C;
}
.humburger {
    display: none;
}
/* navbar end  */
/* banner section  */

.banner-section {
    margin-top: 100px;
  
}
.banner {
    gap: 160px;
    justify-content: center;
    align-items: center;
}

.banner-title h1 {
color: #FFF;
font-family: Inter;
font-size: 58px;
font-style: normal;
font-weight: 900;
line-height: 120%; /* 93.6px */
}
.shape {
    color: #FFF;
     font-family: 'Miama', sans-serif;
                                                
font-size: 78px;
font-style: normal;
font-weight: 400;

}
.banner-title p {
    color: rgba(255, 255, 255, 0.50);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
letter-spacing: 0.5px;
}
.btn {
    margin-top: 28px;
    gap: 20px;
}
.join {  
width: 224px;
padding: 16px 40px;
gap: 10px;
border-radius: 42px;
background: #E6533C;
border: none;
color: #FFF;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 22px; 
}
.dowload {  
padding: 16px 40px;
border-radius: 42px;
border: 1px solid #FFF;
background:black;
color: #FFF;

font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 22px; 
}
.banner-img {
    position: relative;
}
.workout {
    position: absolute;
    right: -45px;
    top: 150px;
    border-radius: 12px;
border: 1px solid rgba(255, 255, 255, 0.10);
background: rgba(255, 255, 255, 0.10);
backdrop-filter: blur(10px);
padding: 14px 24px;
}
.workout h1 {
    color: #FFF;
font-size: 40px;
font-style: normal;
font-weight: 900;
line-height: 40px; 
letter-spacing: 1px;
}
.workout p {
    color: rgba(255, 255, 255, 0.65);
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 153.846% */
letter-spacing: 1px;
}
.group {
    justify-content: center;
    align-items: center;
    gap:15px;
    position: absolute;
    top:380px;
    left: -100px;
    border-radius: 12px;
border: 1px solid rgba(255, 255, 255, 0.10);
background: rgba(48, 48, 48, 0.54);
backdrop-filter: blur(10px);
padding: 15px;

}
.circle {
    border: 10px solid #E6533C;
    width: 4px;
height: 10px;
border-radius: 50%;
}
.group h1 {
    color: var(--Text-1, #FAFAF9);

font-size: 24px;
font-style: normal;
font-weight: 900;
line-height: 24px; /* 100% */
letter-spacing: 0.3px;

}
.group p {
    color: var(--Text-2, rgba(239, 237, 232, 0.65));

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.5px;
}

/* main section start  */
main {
    
    background: #000;
   

}
.habit {
  
    text-align: center;
    padding-top: 100px;
}
.habit-title h1 {
    color: #FFF;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: 120%; /* 57.6px */
margin-bottom: 10px;
}
.habit-title p {
    color: rgba(255, 255, 255, 0.50);
text-align: center;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.3px;
}

/* card section  */
.card-container {
    gap: 40px;
    margin-top: 40px;
}
.card {
  
    text-align: center;
    padding: 5px;
}
.card img {
    border-radius: 50%;
}
.card h3 {
    color: #FFF;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 21.6px */
margin-bottom: 5px;
margin-top: 30px;

}
.card p {
    color: rgba(255, 255, 255, 0.50);
text-align: center;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
letter-spacing: 0.3px;
}

/* run section  */
.run-section {
  
    margin-top: 100px;
    padding: 30px 32px 29px 54px; 
    border-radius: 18px;
background: #222;
}
.run-container {
    justify-content: center;
    align-items: center;
    gap: 165px;
}
.run-title  h1{
    color: #FFF;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: 120%; 
margin-bottom: 14px;

}
.run-title p {
    color: rgba(255, 255, 255, 0.50);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
letter-spacing: 0.3px;
margin-bottom: 34px;
}
.run-img  img{
  width: 100%;
  border-radius: 18px;
 

}


  /* new bmi section  */
  .bmi-section {
    margin-top: 88px;
    background: #000;
  
  
  }
  .bmi-title {
    text-align: start;
   margin-bottom: 50px;
   margin-left: 250px;
  }
  .bmi-title h1 {
    color: #FFF;

font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: 120%; margin-bottom: 14px;
  }
  .bmi-title p {
    color: rgba(255, 255, 255, 0.50);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
letter-spacing: 0.3px;
  }
  .bmi-calculate-container {
   background: #222;
  
   margin-top: 88px;

  }
  .bmi {
    /* justify-content: space-between; */
    gap: 50px;
  }
  .bmi-table {
   
    width: 40%;
    padding: 20px;
  }
  .bmi-table h1 {
    color: #FFF;

font-size: 28px;
font-style: normal;
font-weight: 900;
line-height: 120%; 
  }
  /* bmi input part  */
  .bmi-input-title {
     text-align: start;
    padding: 10px;
  }
  .bmi-input-title h1 {
    color: #FFF;
font-family: Inter;
font-size: 28px;
font-style: normal;
font-weight: 900;
line-height: 120%; /* 33.6px */
  }
  .bmi-input-title p {
    color: rgba(255, 255, 255, 0.50);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.3px;
margin-bottom: 34px;

  }
  form input {
    padding: 12px 40px 12px 20px;
    margin-bottom: 10px;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.10);


  }
  form div {
    display:flex;
    gap: 10px;
  }
  .field input {
    width: 100%;
    border: none;
    outline: none;
  }
 .row-1 input , .row-2 input {
    width: 100%;
     border: none;
    outline: none;
 }
  form input::placeholder {
     color: rgba(255, 255, 255, 0.60);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px;
 }
 #cal {
    margin-top: 10px;
 }

 /* meet style start  */
 .team-title {
    text-align: center;
    margin-top: 88px;
 }
.team-title h1 {
    color: #FFF;

font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: 120%; /* 57.6px */
margin-bottom: 14px;
}
.team-title p {
    color: rgba(255, 255, 255, 0.50);
text-align: center;

font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
letter-spacing: 0.3px;
}

.trainer-container {
  
    margin-top: 58px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px;
    border-radius: 18px;
background: rgba(255, 255, 255, 0.10);
gap: 20px;
}

.tranier-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.trainer-name {
    margin-top: -80px;
    margin-left: 30px;
}
.trainer-name h1 {
    color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 900;
line-height: 120%; 
}
.trainer-name p {
    color: rgba(255, 255, 255, 0.50);

font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 120%; 
}
/* healthcare design  */
.healthcare-container {
    background: rgba(255, 255, 255, 0.10);
    margin-top: 88px;
}
.footer-container {
     padding-top: 66px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 100px;
}

.fit h1 {
    color: #E6533C;

font-size: 70px;
font-style: italic;
font-weight: 800;
line-height: 120%;
margin-bottom: 20px;
}
.fit p {
    color: rgba(255, 255, 255, 0.50);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
letter-spacing: 0.3px;
}
.fit-2 h1 {
    color: #FFF;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 120%;
margin-bottom: 30px;
}
.fit-2 ul >li > a {
color: rgba(255, 255, 255, 0.50);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 120%; 

} 
.fit-2 ul >li {
    margin-bottom: 20px;
}
